/* ============================= */
/* SECTION                       */
/* ============================= */
.projects_light {
  padding: 2px 8% 80px;
  background: linear-gradient(135deg, #f1f3fc, #f4f6fe);
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.projects_night {
  padding: 2px 8% 80px;
  background: #2a2a2a;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.projects-title_light {
  font-size: 2.6rem;
  font-weight: 800;
  margin-bottom: 8px;
}

.projects-title_night {
  font-size: 2.6rem;
  color: #fff;
  font-weight: 800;
  margin-bottom: 8px;
}

.projects-sub_light {
  opacity: 0.7;
  margin-bottom: 50px;
  font-size: 1.1rem;
}

.projects-sub_night {
  opacity: 0.7;
  color: #fff;
  margin-bottom: 50px;
  font-size: 1.1rem;
}

/* ============================= */
/* GRID                          */
/* ============================= */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 35px;
}

/* ============================= */
/* CARD DESIGN                   */
/* ============================= */
.project-card_light {
  background: #fff;
  border-radius: 18px;
  padding: 0;
  height: 220px;
  padding-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 20px;
  cursor: pointer;
  transition: 0.35s ease;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

.project-card_night {
  background: transparent;
  border-radius: 18px;
  padding: 0;
  height: 220px;
  padding-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 20px;
  cursor: pointer;
  transition: 0.35s ease;
  text-decoration: none;
  color: inherit;
  border: 2px solid #fff;
  overflow: hidden;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 14px 30px;
}

/* ============================= */
/* HEADER (3 dots like MacOS)     */
/* ============================= */
.project-header {
  display: flex;
  gap: 8px;
  padding: 0 15px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background: #ff5f56;
  transition: all 0.4s ease-in-out;
  animation: fed1 1.3s infinite ease-in-out;
}

@keyframes fed1 {
     0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(45deg);
  }
}

.yellow {
  background: #ffbd2e;
  transition: all 0.4s ease-in-out;
  animation: fed2 1.7s infinite ease-in-out;
}
@keyframes fed2 {
     0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(45deg);
  }
}

.green {
  background: #27c93f;
  transition: all 0.4s ease-in-out;
  animation: fed3 2s infinite ease-in-out;
}

@keyframes fed3 {
     0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(45deg);
  }
}

/* ============================= */
/* CARD BODY                     */
/* ============================= */
.project-body_light {
  padding: 20px 20px;
  text-align: left;
}

.project-body_night {
  padding: 20px 20px;
  text-align: left;
}

.project-body_light h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.project-body_night h3 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.project-body_light p {
  font-size: 0.95rem;
  opacity: 0.75;
  line-height: 1.5;
  margin-bottom: 15px;
}

.project-body_night p {
  color: #fff;
  font-size: 0.95rem;
  opacity: 0.75;
  line-height: 1.5;
  margin-bottom: 15px;
}

.tech {
  font-weight: 600;
  font-size: 0.85rem;
  background: #f1f1f1;
  padding: 5px 12px;
  border-radius: 50px;
}

/* ============================= */
/* RESPONSIVE FIX                */
/* ============================= */
@media (max-width: 600px) {
  .projects-title {
    font-size: 2.2rem;
  }
}
