.skill-wrapper_light {
  margin-top: 2px;
  padding: 4px 4%;
  padding-bottom: 40px;
  text-align: center;
  transition: 1s ease;
  margin-bottom: 5px;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
  border-radius: 10px;
}

.skill-wrapper_night {
  margin-top: 2px;
  padding: 4px 4%;
  padding-bottom: 40px;
  text-align: center;
  transition: 1s ease;
  background: #2a2a2a;
  margin-bottom: 5px;
  border-radius: 10px;
}

.skill-wrapper_light.show {
  opacity: 1;
  transform: translateY(0);
}

.skill-title_light {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
  color: #1e293b;
  margin-bottom: 8px;
}

.skill-title_night {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
  color: #fff;
  margin-bottom: 8px;
}

.skill-subtitle_light {
  color: #64748b;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.skill-subtitle_night {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 25px;
}

.skill-card {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(16px);
  padding: 30px 20px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
  transition: 0.4s ease;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.5s ease-in-out;
  animation: fadeUp 0.8s ease-in-out forwards;
  cursor: pointer;
}

.skill-card:hover {
  box-shadow: 0 15px 50px rgba(1, 4, 11, 0.25);
}

.skill-icon {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 12px;
}
.skill-img {
  width: 40px;
  height: 40px;
}

.skill-card .icons-name_light {
  font-weight: 600;
  font-size: 1.1rem;
  color: #1e293b;
}
.skill-card .icons-name_night {
  font-weight: 600;
  font-size: 1.1rem;
  color: #fff;
}

@media (max-width: 480px) {
  .skill-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0px;
  }
  .skill-card {
    width: 60%;
    height: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    cursor: pointer;
  }
}
@media (max-width: 400px) {
  .skill-wrapper_light {
    background-color: #1e293b;
    padding: 2px 2%;
    margin-bottom: 5px;
  }

  .skill-wrapper_night {
    background-color: #2a2a2a;
    padding: 2px 2%;
    margin-bottom: 5px;
  }
  .skill-grid {
    padding: 0px;
    margin-left: 7px;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .skill-card {
    margin-bottom: 0px;
    width: 52%;
    height: 30%;
    gap: 0;
  }
  .skill-card .skill-icon .skill-img {
    position: relative;
    top: 5px;
    width: 63%;
  }
  .skill-card .icons-name_light {
    position: relative;
    top: -10px;
    font-size: 0.8rem;
  }
  .skill-card .icons-name_night {
    position: relative;
    top: -10px;
    font-size: 0.8rem;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
